

.stackStatus {
    position: absolute;
    bottom: -3rem;
    width: 10rem;
    height: 2.5rem;
    display: none;
    padding: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: var(--tw-shadow);
    z-index: 3;
}

.stackStatus progress {
    width: 100%;
}