


#introduction {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: var(--base);
    padding: 2rem;
    padding-top: 5rem;
}

.introWrapper, .visionWrapper, .stacksWrapper {
    padding: 1.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.statusBar {
    padding: 1rem;
    margin-top: 2rem;
    background-color: var(--white-edge);
    border-radius: 1.5rem;
    display: grid;
    grid-auto-flow: row;
    width: 120%;
    margin-left: -10%;
}

@media screen and (min-width:640px) {
    .statusBar {
        grid-template-columns: repeat(3,1fr);
    }
}

.introWrapper h1, .visionWrapper h1 {
    border-bottom: 2px solid gray;
}

.statusBar .statusItem {
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s ease;
}

.statusBar .statusItem:hover {
    transform: scale(1.2);
}

.statusItem .statusIcon {
    padding: 1rem;
    border-radius: 50%;
    font-size: 3rem;
    background-color: skyblue;
    color: whitesmoke;
    transition: all 0.2s ease;
}

.statusBar .statusItem:hover .statusIcon {
    filter: brightness(1.1);
}

.statusItem  .statusDescription {
    color: teal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    margin-top: 0.5rem;
    text-align: center;
    font-weight: bold;
}


