
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 20rem;
}


.methodWrapper {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 2px solid var(--line);
    border-radius: 1.5rem;
}

.methodWrapper .methodIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.methodWrapper .methodDescription {
    text-align: center;
}

.methodDescription {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.contactWrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.contact__subject {
    text-align: center;
    color: var(--black-edge);
    margin-bottom: 1.5rem;
}

.contact__method {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.methodIcon a, .methodIcon button {
    font-size: 3rem;
    padding: 1rem;
    color: var(--highlight);
    transition: all 0.2s ease;
}

.methodIcon a:hover, .methodIcon button:hover {
    cursor: pointer;
    transform: scale(1.2);
    filter: grayscale(0.5);
}

