
footer {
    width: 100vw;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--line);
    position: relative;
}

footer span {
    text-align: center;
    color: gray;
}