@import 'config.css';
@import 'navigation.css';
@import 'greeting/greeting.css';
@import 'introduction/introduction.css';
@import 'vision/vision.css';
@import 'stacks/stacks.css';
@import 'projects/projects.css';

@import 'footer.css';


body {
    background-color: var(--base);
}

section {
    width: 100vw;
}

#root {
    height: 300vh;
}

#introduction, #vision, #stacks, #projects, #contact {
    position: relative;
    background-color: var(--base);
}

h1 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: xx-large;
    color: var(--line);
    display: block;
    padding: 0.5rem;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}

h2 {
    font-family: 'Do Hyeon', sans-serif;
    display: block;
    padding: 1rem 0;
    font-size: x-large;
    color: var(--main);
    width: 100%;
}

p {
    font-family: 'Nanum Gothic', sans-serif;
    display: block;
    font-size: medium;
    line-height: 1.1rem;
    color: var(--black-edge);
    font-weight: bold;
}

.introWrapper, .visionWrapper {
    width: 90%;
}

.stacksWrapper, .projectsWrapper {
    width: 100%;
}

@media screen and (min-width:640px) {
    .introWrapper, .visionWrapper {
        width: 70%;
    }
    .stacksWrapper, .projectsWrapper {
        width: 80%;
    }
}

@media screen and (min-width:1024px) {
    .introWrapper, .visionWrapper {
        width: 50%;
    }
    .stacksWrapper, .projectsWrapper {
        width: 60%;
    }
}
